<header>

		<div class="container">

		  <div class="row"> 


			<div class ="col-xs-5">
					
				</div>

			<div class ="col-xs-7">
					<img  id ="logo" src ="img/AKLOGO.png"  alt="Andrew KU Design"/> 
				</div>





		  </div><!-- row close -->

		</div>  <!-- container close -->

		  
		  
		  

		  <nav id="nav_bar">

			<div class="container" >
			   <div class="row" >

			     

			      <div class ="col-xs-12">
			        <div id="nav_adjust">
			         <a href="index.php"
			         <?php if($pageName=="index")
			         echo "id = \"nav_select\"";?>

			         >HOME</a>
			         <a 

			         <?php if($pageName=="protfolio")
			         echo "id = \"nav_select\"";?>

			         href="protfolio.php" >PROTFOLIO</a>
			         <a 

			         <?php if($pageName=="about")
			         echo "id = \"nav_select\"";?>

			         href="about.php" >ABOUT</a>

			         <a 

			         <?php if($pageName=="contact")
			         echo "id = \"nav_select\"";?>

			         href="contact.php" >CONTACT</a>

			        </div>

			     </div>
			      
               </div>
			</div>

          </nav>

          <!--<div id="nav_bk">
		  <p></p>
		  </div>-->


		<!-- row 2 close -->

	</header>